.headerContainer {
  height: 91px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.container {
  background-color: white;
  padding: 24px 140px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.navLeft {
  color: #5bb5a2;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.03em;
  font-family: var(--font-dmSans);
}
.navCenter {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  font-family: var(--font-inter);
}
.navCenter a {
  text-decoration: none;
}
.navitem {
  padding: 8px 8px 8px 12px;
  color: #1a191e;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  display: inline-flex;
  align-items: center;
}

.icon {
  margin-left: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.active {
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 8px 8px 8px 12px;
  color: #1a191e;
}
.navRight {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
}
.login {
  font-weight: 400;
  font-size: 18px;
  color: #5bb5a2;
  border: none;
  background-color: white;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 10px;
  background-color: white;
  z-index: 999;
}
.sidebarContainer a {
  text-decoration: none;
}
.title {
  color: #5bb5a2;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.03em;
  font-family: var(--font-dmSans);
  padding: 6px;
}
.buttons {
  display: flex;
  gap: 10px;
  margin: 6px;
  flex-direction: column;
}
